.iconosFooter .iconoFooterG{
    width: 5rem;
    padding-bottom: 4rem;
    
    
}

.footer-container {
    margin-top: 20px;
  }

  .underline-text {
    text-decoration: underline;

  }

.containerFooter{
    margin-top: 3rem;
}